@font-face {
    font-family: 'SourceSansPro-bold';
    src: url(./fonts/SourceSansPro-Bold.otf) format(opentype);
}
@font-face {
    font-family: 'sourcesanspro-light-it';
    src: url(./fonts/SourceSansPro-LightIt.otf);
}
@font-face {
    font-family: 'sourcesanspro-extra-light';
    src: url(./fonts/SourceSansPro-ExtraLight.otf) format(opentype);
}
@font-face {
    font-family: 'sourcesanspro-extralight-it';
    src: url(./fonts/SourceSansPro-ExtraLightIt.otf) format(opentype);
}
@font-face {
    font-family: 'sourcesanspro-light';
    src: url(./fonts/SourceSansPro-Light.otf) format(opentype);
}
@font-face {
    font-family: 'sourcesanspro-regular';
    src: url('/fonts/SourceSansPro-Regular.otf');
}
@font-face {
    font-family: 'sourcesanspro-black';
    src: url(./fonts/SourceSansPro-Black.otf) format(opentype);
}
@font-face {
    font-family: 'sourcesanpro-black-it';
    src: url(./fonts/SourceSansPro-BlackIt.otf) format(opentype);
}
@font-face {
    font-family: 'sourcesanspro-bold-it';
    src: url(./fonts/SourceSansPro-BoldIt.otf) format(opentype);
}
@font-face {
    font-family: 'sourcesanspro-it';
    src: url(./fonts/SourceSansPro-It.otf)  format(opentype);
}
@font-face {
    font-family: 'sourcesanspro-semibold';
    src: url(./fonts/SourceSansPro-Semibold.otf) format(opentype);
}
@font-face {
    font-family: 'sourcesanspro-semibold-it';
    src: url(./fonts/SourceSansPro-SemiboldIt.otf)  format(opentype);
}
@font-face {
    font-family: 'spincycle-3d';
    src: url(./fonts/spincycle_3d_ot.otf) format(opentype);
}
@font-face {
    font-family: 'spincycle-ot';
    src: url(./fonts/spincycle_ot.otf) format(opentype);
}
html{
    width: 1440px;
    height: 3718px;
}
body, blockquote, p, h4{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
#banner{
    background-image: url(./Images/Object.png);
    background-position: inherit;
    height: 1093px;
    width: 1440px;
}
header{
}

.logo-1{
   margin-top: 30px;  
   margin-left: 170px;  
}
.navs{
    float:right;
    display: flex;
    gap: 50px;
    list-style: none;
    margin-right: 170px;
    margin-top: 30px;
} 
.navs a{
    color: white;
    text-decoration: none;
    font-family: 'SourceSansPro-bold', sans-serif;
    font-size: 12px;
}  
.first{
    font-family: 'SourceSansPro-bold';
    text-align: center;
    color: white;
    margin-top: 180px;

}
.get{
    font-size: 120px;
    margin-bottom: 0px;


}
.sp1{
    display: flex;
    gap: 60px;
    margin-left: 600px;
    margin-bottom: 30px;
}
.b1{
    background-color: #C271FF;
    width: 168px;
    height: 44px;
    border-radius: 22px;
    border:0;
    font-family: 'sourcesanspro-light',  sans-serif;
    color: white;
}
.hh1{
    color: white;
    font-family: 'sourcesanspro-light', sans-serif;
    margin-left: 600px;
    margin-top: 180px;
    font-size: 32px;
}
.second{
    display: flex;
    gap: 140px;
    align-items: center;
    margin-left: 220px;
    margin-top: 70px;
    text-align: center;
    color: white;
    font-family: 'sourcesanspro-light', sans-serif;

}
.sec-2{
    width: 1440px;
    height: 392px;
    background-color: #C271FF;
    display: flex;
    text-align: justify;
    gap: 50px;
}
.trt1{
    margin-left: 250px;
    margin-top: 100px;
}
.trt2{
    margin-top: 120px;
    color: white;
    font-family: 'sourcesanspro-light';
    font-size: 22px;
}
h3{
    margin-bottom: 0px;
}
.sec-3{
    width: 1440px;
    height: 550px;
}
.hh2{
    font-family: 'sourcesanspro-light';
    color: black;
    margin-left: 550px;
    margin-top: 100px;
    font-size: 32px;

}
.sec-3a{
    display: flex;
    gap: 30px;
    margin-left: 150px;
    margin-top: 80px;
}
.img-par{
    position: relative;
    display: inline-block;
}
.play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    cursor: pointer;
    width: 64px;
    height: 64px;

}
.sec-3b{
    width: 255px; 
    height: 335px;
}
.sec-3c{
    width: 255px;
    height: 154px;
}
.sec-3d{
    width: 30px; 
    height: 30px;
}
.sec-3e{
    display: flex;
    gap: 5px;
    color: #C271FF;
    width: 107px;
    height: 15px;
    margin-top: 10px;
}
.smile{
    font-family: 'SourceSansPro-bold';
    font-size: 16px;
}
.p3{
    margin-bottom: 15px;
    font-family: 'sourcesanspro-regular';
    font-size: 14px;
    color: gray;
    margin-top: 10px;
    opacity: 51%;
}
.fl1{
    display: flex;
    gap: 20px;
    font-family: 'sourcesanspro-semibold';
    color: #C271FF;
}
.fl2{
    display: flex;
    gap: 90px;
    color: #C271FF;
    font-family: 'SourceSansPro-bold';
    font-size: 14px;
}
.sec-4{
    background-color: #071629;
    background-position: inherit;
    width: 1440px;
    height: 502px;
    align-content: center;
}
.hh3{
    font-family: 'sourcesanspro-light';
    font-size: 32px;
    margin-top: 80px;
    margin-left: 600px;
    color: white;
}
.sec-4a{
    display: flex;
    gap: 100px;
    margin-left: 200px;
    margin-top: 80px;
}
.loip{
    font-family: 'sourcesanspro-semibold';
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.fl3{
    width: 257;
    height: 153;
    color: white;
    font-family: 'sourcesanspro-regular';
    font-size: 14px;
    text-align: center;
}

.b2{
    background-color: #C271FF;
    width: 168px;
    height: 44px;
    border-radius: 22px;
    border:0;
    font-family: 'sourcesanspro-light',  sans-serif;
    color: white; 
    margin-top: 50px;
    margin-left: 600px;
}
.sec-5{
    width: 920px;
    height: 707px;
    margin-top: 150px;
    margin-left: 330px;
}
.hh4{
    font-family: 'sourcesanspro-light';
    font-size: 60px;
    margin-left: 350px;
}
.sec-5a{
    display: flex;
    gap: 100px;
    color: gray;
}
.sec-5b{
    display: flex;
    gap: 100px;
    color: gray;
}
.fl4{
    width: 350px;
    height: 242px;
    font-size: 14ps;
    font-family: 'sourcesanspro-regular';
}
.hh5{
    font-size: 16px;
    font-family: 'SourceSansPro-bold';
    margin-bottom: 30px;
    color: #071629;
}
footer{
    background-color: #071629;
    height: 249px;
    align-content: center;
}
.sec-6{
    display: flex;
    gap: 600px;
    align-items: center;
    margin-left: 200px;
    margin-top: 60px;
}
.fl5{
    width: 130px;
    height: 30px;
    color: white;
    display: flex;
    gap: 10px;
}
.flf{
    font-family: 'sourcesanspro-regular';
    font-size: 12px;
    color: gray;
    margin-top: 50px;
    margin-left: 600px;
}
